<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <input class="form-control search-box" autoGrow type="text" [(ngModel)]="searchText" placeholder="Search">
            <!--<h2 style="color:red" [innerText]="errorMessage"></h2>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="col-md-8  col-md-offset-2"/>

  <div class="row">
    <div class="col-md-8  col-md-offset-2">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let contact of contactList">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h4 class="list-group-item-heading">{{contact.firstName}} {{contact.lastName}}</h4>
              </div>
              <div class="col-md-3">
                <p class="list-group-item-text">{{contact.email}}</p>
              </div>
              <div class="col-md-3">
                <p class="list-group-item-text pull-right">{{contact.mobNumber}}</p>
              </div>
              <div class="pull-right">
                <a>
                  <button class="btn btn-default" type="button" name="button">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
